.ingredients {
  display: flex;
  padding: 0;
  margin: 0;
}

.order {
  display: block;
  text-decoration: none;
  color: unset;
  background-color: #1c1c21;
  border-radius: 40px;
  min-width: 576px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  transition: box-shadow 0.5s ease-in-out;
}

.order_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order_name {
  text-align: left;
}

.order_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order_total {
  vertical-align: top;
}

.order_new {
  box-shadow:
    0px 0px 8px 1px rgba(51, 51, 255, 0.25),
    0px 0px 8px 1px rgba(51, 51, 255, 0.25),
    0px 0px 2px 0px rgba(85, 85, 255, 0.822);
  filter: drop-shadow(0px 1px 5px rgba(51, 51, 255, 0.5));
  z-index: 0;
  transition: box-shadow 0.5s ease-in-out;
}

.img_wrap {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: #801ab3 solid 2px;
  background-color: #1c1c21;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.img_wrap:nth-child(n + 2) {
  position: relative;
  right: 25px;
}

.img {
  position: relative;
  right: 25px;
  width: 112px;
  height: 56px;
}

.remains {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
